// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    min-width: 55px;
    
}

html {
    background-image: url("https://c1.staticflickr.com/1/731/21848251428_828543004e_b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1,h2 {
   //background-color: white;
   display: inline;
   background: rgba(255,255,255,0);
   color: white;
}

h3{
  color: white;
  margin-top: 5px;
}

table,th,td {
  //background-color: white;
  background: rgba(0,0,0,0.5);
  padding: 5px;
  border-color: white;
  color: white;
}

td a:link, td a:visited {
  color: lightskyblue;
}

td {
  vertical-align: middle;
}

.pick_td {
  text-align:left;
}

.nav {
  background: rgba(0,0,0, 0.6);
  height: 125px;
  min-height: 125px;
  min-width: 200px;
  width: 200px;
  color: white;
  padding: 10px;
  border-color: white;
  border: solid;
}

.nav a:link, .nav a:visited {
  text-decoration: none;
  color: lightskyblue;
}

.navtitle {
  text-align: center;
  text-decoration: underline;
}

.nav h1 {
  padding-left: 20px;
}
.container {
  display: flex;
}

.main {
  padding-left: 30px;
  min-width: 75%;
}

.columns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    vertical-align: middle;
    column-gap: 20px;
    display: inline-block;
}

tr {
  vertical-align: middle;
}

input[type=button], input[type=submit] {
    background-color: brown;
    border: 2px solid black;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}

button {
  background-color: brown;
  border: 2px solid black;
  color: white;
  padding: 16px 20px;
  text-decoration: none;
  cursor: pointer;
}

.buttontext a:link, .buttontext a:visited {
  color:white;
  text-decoration: none;
}

.title {
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
  padding: 10px;
  border: solid white;
  margin-bottom: 20px;
  color: white;
}

.bio {
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
  border: solid white;
  color: white;
  padding: 10px;
}

.teambio {
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
  border: solid white;
  color: white;
  padding: 10px;
}

.comments {
  width: 500px;
  padding: 10px;
  display: inline-block;
  background-color: rgba(0,0,0,0.6);
  color: white;
  border: solid white;
}

.individual_comment{
  border: solid white;
  padding: 5px;
  color: white;
}

.individual_comment + .individual_comment {
  border-top: 0px;
}

.newcomments {
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
  min-width: 500px;
  color: white;
  padding: 10px;
  border: solid white;
}

a:link, a:visited {
  text-decoration: none;
}

label {
  display: block;
}

textarea { 
  display: block;
}

.error {
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
  color: white;
  padding: 10px;
  border: solid white;
}

.error_explanation {
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
  color: white;
  padding: 10px;
  border: solid white;
}

body {
  margin-top: 10px;
}

.highlights {
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
  color: white;
  padding: 10px;
  border: solid white;
}

li {
  color: white;
}
.form {
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
  color: white;
  padding: 10px;
  border: solid white;
}