// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

html {
    background-image: url("https://c1.staticflickr.com/1/731/21848251428_828543004e_b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2,table,th,td {
    background-color: white;
}

//body {
//    background-color: white;
//}